# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/

# IDEs
.vscode/
.idea/
*.iml

# Sistema
.DS_Store
Thumbs.db

# Ambiente local
.env
application-local.properties

# Java crash logs
hs_err_pid*
replay_pid*